{{>header}}
<div class="container">
    <form action="/create" method="POST">
        <fieldset>
            <legend>Add new word to the dictionary</legend>
            <p class="field title">
                <input type="text" id="word" name="word" placeholder="BRB">
                <label for="title">Word:</label>
            </p>

            <p class="field content">
                <textarea name="description" id="description" placeholder="The short term for 'Be Right Back'."></textarea>
                <label for="content">Description:</label>
            </p>

            <p class="field submit">
                <button class="btn submit" type="submit">Add</button>
            </p>

        </fieldset>
    </form>
</div>
{{>footer}}