{{>header}}
<div class="container">

    <form action="/edit/{{article._id}}" method="POST">
        <fieldset>
            <legend>Edit word</legend>
            <p class="field title">
                <input type="text" name="word" id="word" placeholder="BRB" value={{article.word}}>
                <label for="title">Word:</label>
            </p>

            <p class="field content">
                <textarea name="description" id="description">{{article.description}}</textarea>
                <label for="content">Content:</label>
            </p>

            <p class="field submit">
                <button class="btn submit" type="submit">Edit</button>
            </p>

        </fieldset>
    </form>
</div>
{{>footer}}