{{>header}}
<div class="content">
    <section class="js">
        <h2>JavaScript</h2>
        <div class="articles">
            {{#each articles}}
            <article>
                <h3>{{this.title}}</h3>
                <p>{{this.content}}</p>
                <a href="/details/{{this._id}}" class="btn details-btn">Details</a>
            </article>
            {{else}}
            <h3 class="no-articles">No articles yet</h3>
            {{/each}}
        </div>
    </section>
</div>
{{>footer}}